/* CSS */

.main-header {
    text-align: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-button {
    height: 32px;
    border: none;
    border-radius: 8px;
}

.deepskyblue-color {
    background-color: deepskyblue;
}

.white-color {
    background-color: white;
}

.luas-segitiga-header {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0px;
    background: lightskyblue;
    text-align: center;
}